<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <h1>Meu website</h1>
            <nav>
                <a href="#">link 1</a>
                <a href="#">link 2</a>
            </nav>
        
    </header>
    {{{body}}}
</body>
</html>